<h1>Stupid Coaching</h1>
<p>Ask your couch anything:</p>

<div class="input-group mb-3">
  <form class="form-control" action="/answer" method="get">
    <input type="text" name="question">
    <input type="submit">
  </form>
</div>


